
side_stuff_and_tests/testo.py
ZHELLO_graph.dot
small_dots_tabel_done.xlsx
side_stuff_and_tests/well2
side_stuff_and_tests/well1
side_stuff_and_tests/testo.py
side_stuff_and_tests/testo.py
graphStuff/smallDots_w_marked_and_tests/eco_filtering_dot/xtra_modified_Citrate_cycle_marked.dot
graphStuff/smallDots_w_marked_and_tests/eco_filtering_dot/xtra_modified_Citrate_cycle_marked.dot
large_dots_stats.xlsx
